# Настройки базы данных
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=

# Настройки почтовика
MAIL_BASE_FROM=
MAIL_USER=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=

# Адресса системы
SYSTEM_MAIN=
SYSTEM_API=
SYSTEM_ADMIN=

# Настройки базы данных парсеров
PARSER_ANLAN_DB_HOST=
PARSER_ANLAN_DB_NAME=
PARSER_ANLAN_DB_USER=
PARSER_ANLAN_DB_PASS=
PARSER_ANLAN_URL=
PARSER_ANLAN_IMAGES_URL=

# Настройки JWT
JWT_SECRET_KEY=
JWT_ISSUER=
JWT_AUDIENCE=

#PHP
UPLOAD_MAX_SIZE=
PHP_DEBUG=